bayesMelding/subGpGaussLikeFuns.sh
.DS_Store
.Rhistory
Poster
df_revision/literature
f_revision/elevCodes
DocsForRM&CAR
RBF_NUT
bayesMelding/.DS_Store
bayesMelding/.Rhistory
bayesMelding/BM_predic_scatter_seed122numMo500mean.png
bayesMelding/BM_predic_scatter_seed122numMo50mean.png
bayesMelding/BM_predic_scattter_seed120numMo500.png
bayesMelding/Data
bayesMelding/DataFrZtildeWithMean
bayesMelding/DataImogenFrGridMoNotCentre
bayesMelding/DataImogenFrNoGridMo
bayesMelding/DataMo.pkl
bayesMelding/DataMoFr.pickle
bayesMelding/DataMoFr.png
bayesMelding/DataObs.pkl
bayesMelding/DataObsFr.pickle
bayesMelding/DataObsFr.png
bayesMelding/DataRndMo
bayesMelding/HMC.py
bayesMelding/Output
bayesMelding/Output100seeds
bayesMelding/Output200seeds
bayesMelding/Output_NO_rounded_confiInterv
bayesMelding/SEED120Mo500andPredicMax.png
bayesMelding/SimData_seed204numObs200areal_res25.png
bayesMelding/Sim_Zs_seed204numObs200.png
bayesMelding/TM_WORLD_BORDERS-0.3
bayesMelding/__pycache__
bayesMelding/backUpCorrectOptim
bayesMelding/bayesMeldingAngus.py
bayesMelding/bayesMeldingRsimRound3.py
bayesMelding/bb.txt
bayesMelding/bmVsKrigGridScale
bayesMelding/bmVsKrigGridScale20SeedsAreal100
bayesMelding/bmVsKrigGridScale97seeds
bayesMelding/bmVsKrigResOfSimDataUnitSquareMoUpTo150
bayesMelding/bmVsKrigResOfSimDataUnitSquareMoUpTo300
bayesMelding/checkGrad.py
bayesMelding/checkSimPars.py
bayesMelding/clear_all.py
bayesMelding/cluSub.py
bayesMelding/clusterExperiLogs
bayesMelding/clusterTasks.py
bayesMelding/cntry_FR_numObs_112
bayesMelding/cntry_FR_numObs_200_numMo_150
bayesMelding/cntry_FR_numObs_213
bayesMelding/cntry_FR_numObs_213_numMo_300
bayesMelding/cntry_FR_numObs_328
bayesMelding/condtlGP.py
bayesMelding/copyshapes.py
bayesMelding/countries.py
bayesMelding/dataNonRsimRes1AddErrorForZtilde
bayesMelding/dataRsimGammaTransformErrorInZtilde
bayesMelding/dataRsimNoErrorInZtilde
bayesMelding/dataRsimNoFrGammaTransformArealRes100
bayesMelding/dataRsimNoFrGammaTransformArealRes25Cods100butArealZs100
bayesMelding/dataRsimNonGammaTransformErrorInZtilde
bayesMelding/dataSimGammaTransformed
bayesMelding/dataSimGpDeltas
bayesMelding/dataSimRes1Ztilde
bayesMelding/dataSimulated
bayesMelding/dataSimulatedNonGammaTransform
bayesMelding/dataSimulatedUnitSquare
bayesMelding/dataSimulated_OneFootPrint
bayesMelding/densityPlot.py
bayesMelding/dependTasks.sh
bayesMelding/diffNumMoRes.py
bayesMelding/experiment_Res.docx
bayesMelding/france_rcoords.RData
bayesMelding/gammaFit.py
bayesMelding/genFrData.py
bayesMelding/genGridPredicTasks.py
bayesMelding/gen_data_task.py
bayesMelding/gpDeltasSimCode/
bayesMelding/gpGaussLikeFunsAngus.py
bayesMelding/gpGaussLikeFunsPyV2.py
bayesMelding/gpValid_parUncerty_CI.py
bayesMelding/graphics_gofplots_qqplot.py
bayesMelding/isFrance.R
bayesMelding/krigingAngus.py
bayesMelding/krigingFr/
bayesMelding/kriging_50rndMO.py
bayesMelding/ldDataFr.py
bayesMelding/ldNetCDF_50rndMO.py
bayesMelding/ldNetCDF_diagnosis.py
bayesMelding/ldNetCDFold.py
bayesMelding/ldNetCdfAngus.py
bayesMelding/ldNetCdfNoRndMo.py
bayesMelding/ldncfFR.py
bayesMelding/linear_task.py
bayesMelding/logs/
bayesMelding/logs100seeds/
bayesMelding/logs_repeat1_noRoundedInterv/
bayesMelding/lrLthe.png
bayesMelding/lrLthe.py
bayesMelding/lrLthe_fitted.png
bayesMelding/lrLthe_fitted2.png
bayesMelding/lrLthe_scatter.png
bayesMelding/mcmcPyStan.py
bayesMelding/my_dataMo.RData
bayesMelding/my_dataMo_FR.RData
bayesMelding/my_dataMo_FR2col.RData
bayesMelding/my_dataObs.RData
bayesMelding/my_dataObs_FR.RData
bayesMelding/outTest
bayesMelding/output120_repeat3_numMo50
bayesMelding/outputTest
bayesMelding/qqPlots/
bayesMelding/resIncreRndMo/
bayesMelding/resOptim0.pkl
bayesMelding/resPredicSimGammaTransform/
bayesMelding/resRes1NoerrorInZtilde/
bayesMelding/resRes1errorInZtilde13seeds/
bayesMelding/resRes1errorInZtilde20seeds/
bayesMelding/resRndMo/
bayesMelding/resSqureFr/
bayesMelding/rpyTwo.py
bayesMelding/runPredic.py
bayesMelding/sampRealData/
bayesMelding/simData.pyc
bayesMelding/simGPrf.R
bayesMelding/subGpGaussLikeFuns.sh	
bayesMelding/subKriging.sh
bayesMelding/submitTasks.sh
bayesMelding/tTestThesis.py
bayesMelding/tesCovFun.py
bayesMelding/testRes.py
bayesMelding/thmc.py
bayesMelding/ttest.R
bayesMelding/xx249@callisto.ex.ac.uk
experiment_Res.docx
github-recovery-codes.txt
githubToken.txt
realData
rfRscript
df_revision/literature/
Poster
